body {
    margin: auto;
    padding: inherit;
}

form#myForm {
  float: center;
  padding: 2em;
  color: white;
  background-color: black;
  text-align: center;
  font-size-adjust: auto;
  /*border-radius: 25em;*/
  border-spacing: inherit;

}

align: center;

/*}*/
.container {
    position: absolute;
}

header {
    float: center;
    padding: 2em;
    color: white;
    background-color: black;
    text-align: center;
    font-size-adjust: auto;
    border-spacing: inherit;
}
nav {
    float: center;
    max-width: 70px;
    margin: 0;
    padding: 1em;
}
span.note {
    font-size: 50px;
    color: red;
}
div.container {
  border-radius: 15em;

}
.theButton {
  position: left;
   margin: 5px 10px;
   background-color: #4BABBD;
 color: #fff;
 width: 150px;
 height: 30px;
   border: 1px solid #4BABBD;
   cursor: pointer;
   -webkit-box-shadow: 1px 1px 1px 1px grey;
   -moz-box-shadow: 1px 1px 1px 1px grey;
   box-shadow: 1px 1px 1px 1px grey;
   -webkit-transition: 300ms ease-in-out;
   -moz-transition: 300ms ease-in-out;
   transition: 300ms ease-in-out;

}
.theButton :hover{
  background-color: #39698A;
color: #fff;
width: 100px;
  border: 1px solid #39698A;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;

}
.resetClicks :hover{
  background-color: #39698A;
color: #fff;
width: 100px;
  border: 1px solid #39698A;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;


}
.resetClicks {
  position: absolute;
   /*margin: 0em 5em;*/
   background-color: #4BABBD;
 color: #fff;
 width: 150px;
 height: 30px;
   border: 1px solid #4BABBD;
   cursor: pointer;
   -webkit-box-shadow: 1px 1px 1px 1px grey;
   -moz-box-shadow: 1px 1px 1px 1px grey;
   box-shadow: 1px 1px 1px 1px grey;
   -webkit-transition: 300ms ease-in-out;
   -moz-transition: 300ms ease-in-out;
   transition: 300ms ease-in-out;

}
.theName {
  background-color: white;
  color:  red;
}
.span-class {
    align: center;
}
div.output {
  float: center;
  padding: 2em;
  color: red;
  background-color: #FFF000;
  text-align: center;
  font-size-adjust: auto;

}
